.cartlight{
    width: 100px;
    height: 35px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    gap: 5px;
    color: black;
}

.cartdark{
    width: 100px;
    height: 35px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    gap: 5px;
    color: white;
}

.iconlight{
    filter: invert(1);
}

.icon-dark{
    filter: invert(0);
}