.card-detail {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 15px;
    border: solid 2px rgb(217, 255, 0);
    background-color: rgb(255 255 255 / 30%);
    color: black;
    font-size: large;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}

.datosBurgers {
    display: flex;
    gap: 20px;
    border-radius: 20px;
}

.bajarlo{
    margin-bottom: 0 !important;
}

