* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}


.containterlight{
  background-image: url(../public/img/backgroundLight.jpg);
  height: 100vh;
}

.containterdark{
  background-image: url(../public/img/backgroundDark.jpg);
  height: 100vh;
}